*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #0c0b0b;
    height: 100vh;
    width: 100vw;
    color: #fff;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500;
    transition: all 0.3s ease;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
    color: #36f4ce;
}
.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    width: 600px;
}
.home-content h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content p{
    font-size: 1.2rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3 span {
    color: #36f4ce;
}
.home-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-img img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5), 0 0 20px rgb(255, 255, 255);
     opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.social-media a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    color: #36f4ce;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover {
    background: #36f4ce;
    color: #fff;
    box-shadow: 0 0 20px #0ef;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #36f4ce;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    text-decoration: none;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}
.btn:hover {
    background: #0ef;
    box-shadow: 0 0 20px #0ef;
}
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}
